body{
    background-color: beige;
    
}

#graph{
    
    
    width: 900px;
    margin-right: auto;
    margin-left: auto;
background-color: white;
        
}

h1{
    
    
    text-align: center;
}

#legend{
    
    
    
}

#Allbutton{
    position: absolute;
   right: 750px;
    top: 600px;
    background-color: red;
}

#Fat{
    color: blue;
       margin-right: auto;
    margin-left: auto;  
}

h1{
    
    background-color:
}