body{
    background-color: beige;
    
}

#graph{
    
    
    width: 900px;
    margin-right: auto;
    margin-left: auto;
background-color: white;
        
}

h1{
    
    
    text-align: center;
}

#legend{
    
    
    
}

button{
    margin-right: auto;
    margin-left: auto;    
}
